@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
   font-family: 'Syne', sans-serif;
   
}

/*backgraound blanc header*/
.header-bg{
   background-color: #FFFFFF;
   height: 80px;
}

/* Enlever le mot: commander modifier dans le header */

.header{
   display:none;
}
.flex-between{
display:flex;
justify-content: space-between;
align-items: center;

background-color: #FFFFFF;
}
#header{
   display:flex;
   height: 80px; 
}
.logo-img {
   max-width: 150px; /* Taille maximale du logo */
   height: auto; /* Pour conserver les proportions */
   padding-left: 30px;
}

#menu-menu-1 {
   display: flex;
   justify-content: space-between; /* Pour répartir les éléments horizontalement */
   align-items: center;
   height: 100%;
   
}
#menu-item-76{
   padding: 30px;
}
#menu-item-74{
   padding: 20px;
   margin-top: 0px;
}
#menu-item-74 >a{
   background-color: #DC9F96;
   padding: 31px 61px;
   margin-right: -41px;
   color: #FFFFFF;
}

.menu-item{
   margin-right: 20px;
}
#menu-item-74 >a:hover{
   background-color: #C02E44;
}

a {
   text-decoration: none;
   color: black;
}
/* footer */
#footer{
   text-align: center;
   align-items: center;
   background-color: #FFFFFF;
   height: 60px;
   padding-top: 20px;
}
/* Les formulaires */

.wpcf7-text{
   width: 100%;
   height: 71px;
   border: #FFFFFF; 
   border-radius: 7px; 
   margin-bottom: 30px;
   margin-top: 10px;
}
#panier input{
   width: 39px;
   height: 56px; 
   margin: 0;
   text-align: center;
}
.wpcf7-form-control{
   border-radius: 7px;
}
label{
   color: #FFFFFF;
   margin-bottom: 20px;
}
.elementor-element-ba3c973 label{
   color: black; 
   margin-top: 20px;
}
.elementor-element-ba3c973 input{
   border-radius: 7px;
   margin-top: 10px;
}
.elementor-element-71743f7 input{
   border-radius: 7px;
}

.wpcf7-textarea{
   width: 383px;
  height: 237px; 
  border: #FFFFFF; 
}

.wpcf7-submit{
   width: 198px;
  height: 55px; 
  border-radius: 5px;
   margin: 0 auto;
  display: block;
  border: #FFFFFF; 

}

.section-panier { 
   text-align: center;
}
.elementor-element-2eb23cf{
   text-align: center;
}
.elementor-element-658dab7{
   text-align: center;
}
.elementor-element-315c5d7{
   text-align: center;
}

/* Les lignes dans la page commander */

.elementor-element-94513f7{
   border-top: 1px solid #FFFFFF;
   padding-top: 50px;
}
.elementor-element-55c34b4{
   border-top: 1px solid #FFFFFF;
   
}

.elementor-element-9fe8ae8{
   border-left: 1px solid #FFFFFF;
  
}
.elementor-element-bc19399 {
   padding-top: 20px;

}
.elementor-element-774c650{
   padding-top: 20px;
   padding-left: 20px;
}
.elementor-element-3afb8b9{
   padding-left: 20px;
   padding-top: 20px;
}
.elementor-element-4ff8576 {
   padding-right: 20px;
   padding-top: 20px;
}

  /****** Media queries ***********/
  /* Small devices (phones, less than 590px) */
@media (max-width: 590px) { 
  
   #menu-item-74{
         padding: 0px;
         margin-top: 0px;
      }
      #menu-item-74 >a{
         background-color: #DC9F96;
         padding: 8px 0px;
         margin-right: -41px;
         margin-bottom:20px;
         color: #FFFFFF;
      }
      .flex-between{
         display:flex;
         flex-direction: column;
         }  
         .logo-img {
            margin-top: 20px;
         }
      #header{
         height: 100px;
      }
      .wpcf7-text{
         width: 80%;
      }

   }
  
   @media (max-width: 350px) { 
         #header{
            height: 110px;
         }
         #menu-menu-1{
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: flex-start;
         }
         #menu-item-76{
            padding: 0px 5px;
            margin-left: 5px;

         }
         .menu-item{
            padding: 5px;
            margin-left: 5px;
         }
         #menu-item-74{
            padding: 5px;
            margin-right: 0px;
         }
   }
   

      
      


