@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
   font-family: 'Syne', sans-serif;
   background-color: E5E5E5;
}

header{
   display:none;

}

/* On applique un gris plus clair sur les paragraphes */
p {
   color: #313332;
}
.flex-between{
display:flex;
justify-content: space-between;
align-items: center;
height: 100%;
background-color: #FFFFFF;
}
#header{
   display:flex;
   height: 100%;
   
}
#menu-menu-1 {
   display: flex;
   justify-content: space-between; /* Pour répartir les éléments horizontalement */
   align-items: center;
   height: 100%;
   
}
#menu-item-76{
   padding: 20px;
}
#menu-item-74{
   padding: 20px;
   margin-top: 0px;
}
#menu-item-74 >a{
   background-color: #DC9F96;
   display: block;
   padding: 20px 30px;
   color: #FFFFFF;
   height: 100%;
   
}
#menu-item-74 >a:hover{
   background-color: #C02E44;
}

/*backgraound blanc header*/
.header-bg{
   background-color: #FFFFFF;
   height: 100%;
}
.text-center{
   text-align: center;
   
}
a {
   text-decoration: none;
   color: black;
}
.logo-img {
   max-width: 150px; /* Taille maximale du logo */
   height: auto; /* Pour conserver les proportions */
}